[include]
  path = ~/.config/delta/themes.gitconfig

[user]
  name = JWei
  email = jay0935199@gmail.com

[color]
  ui = true

[core]
  pager = delta
  editor = nvim
  excludesfile = ~/.gitignore_global

[init]
  defaultBranch = main

[alias]
  co = commit
  st = status
  ch = checkout
  br = branch
  lg = log --color --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  lga = log --color --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim blue)<%an>%C(reset)'
  lga2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim blue)<%an>%C(reset)' --all
  lgst = log --color --graph --stat
  dtree = diff-tree -r --no-commit-id --name-status --text --diff-filter=ACDMRT

[interactive]
  diffFilter = delta --color-only

[delta]
  features = chameleon
  navigate = true
  side-by-side = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
