bin/
changelog/
chat_state/
code_tracker/
database/
implicit/
installation_id
memories/
university/
user_settings.pb
windsurf/bin/
windsurf/cascade/
windsurf/code_tracker/
windsurf/database/
windsurf/implicit/
windsurf/installation_id
windsurf/mcp_config.json
windsurf/memories/05278fe2-c878-4721-927d-f6c8712bb72f.pb
windsurf/memories/6731aa2e-0b42-4745-ab08-31a734a77c8c.pb
windsurf/onboarding.json
windsurf/onboarding.json.lock
windsurf/user_settings.pb
